@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #121212;
  --color-secondary: rgb(40, 40, 40);
  --color-secondary-light: rgb(46, 46, 46);
  --color-primaryText: rgb(255, 255, 255);
  --color-secondaryText: #ededed;
  --color-mutedText: rgb(160, 160, 160);
  --color-border: rgb(52, 52, 52);
  --color-border-light: rgb(62, 62, 62);
  --color-icon: rgb(255, 255, 255);
  --color-icon-muted: #707070;
}

.dark {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

:root {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9559 0.0146 102.4588);
  --card: oklch(0.2393 0 0);
  --card-foreground: oklch(0.9559 0.0146 102.4588);
  --popover: oklch(0.2393 0 0);
  --popover-foreground: oklch(0.9559 0.0146 102.4588);
  --primary: oklch(0.4896 0.1954 312.6290);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2751 0.0162 326.0075);
  --secondary-foreground: oklch(0.9559 0.0146 102.4588);
  --muted: oklch(0.2850 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.3757 0.1176 315.0989);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.3767 0.1546 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.2393 0 0);
  --ring: oklch(0.6268 0.2325 303.9004);
  --chart-1: oklch(0.6268 0.2325 303.9004);
  --chart-2: oklch(0.8836 0.2053 155.2096);
  --chart-3: oklch(1.0000 0 0);
  --chart-4: oklch(0.5103 0 0);
  --chart-5: oklch(0.1822 0 0);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.6268 0.2325 303.9004);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2393 0 0);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.6268 0.2325 303.9004);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.3rem;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 7px;
  --shadow-spread: -3.5px;
  --shadow-opacity: 0.88;
  --shadow-color: #000000;
  --shadow-2xs: 4px 4px 7px -3.5px hsl(0 0% 0% / 0.44);
  --shadow-xs: 4px 4px 7px -3.5px hsl(0 0% 0% / 0.44);
  --shadow-sm: 4px 4px 7px -3.5px hsl(0 0% 0% / 0.88), 4px 1px 2px -4.5px hsl(0 0% 0% / 0.88);
  --shadow: 4px 4px 7px -3.5px hsl(0 0% 0% / 0.88), 4px 1px 2px -4.5px hsl(0 0% 0% / 0.88);
  --shadow-md: 4px 4px 7px -3.5px hsl(0 0% 0% / 0.88), 4px 2px 4px -4.5px hsl(0 0% 0% / 0.88);
  --shadow-lg: 4px 4px 7px -3.5px hsl(0 0% 0% / 0.88), 4px 4px 6px -4.5px hsl(0 0% 0% / 0.88);
  --shadow-xl: 4px 4px 7px -3.5px hsl(0 0% 0% / 0.88), 4px 8px 10px -4.5px hsl(0 0% 0% / 0.88);
  --shadow-2xl: 4px 4px 7px -3.5px hsl(0 0% 0% / 2.20);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-indigo-300);
    width: 5px;
    height: 5px;
  }

  .bg-grid {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22none%22%20stroke%3D%22%23222222%22%3E%3Cpath%20d%3D%22M0%20.5H31.5V32%22%2F%3E%3C%2Fsvg%3E");
  }
}